# Git
.git
.gitignore

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/

# Environments
.venv/
venv/
ENV/
env/
.env

# Migration logs or temp files
*.log
alembic/*.pyc

# OS Files
.DS_Store
Thumbs.db
